.product-icons {
    display: block;
    float: left;
    width: 100%;
    margin: 10px 0;
}

.product-icons__li {
    display: inline-block;
    padding: 0;
    margin: 0;
    position: relative;
    padding-left: 35px;
    padding-top: 5px;
}

.product-icons__icon {
    width: 30px;
    height: 30px;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}

.product-icons__label {
    margin-right: 10px;
}