
<?php $product = $block->getProduct();?>
<?php // echo $block->getProductBadges();?>
<div>
    <?php $data = explode(',',$block->getProductBadges()); ?>

    <?php if (count($data) && !empty($data[0])): ?>
        <ul class="product-icons">
            <?php foreach($data as $value):?>
                <?php $attr = $product->getResource()->getAttribute('badges'); ?>
                <?php
                if ($attr->usesSource()): ?>
                    <?php $option_value = $attr->getSource()->getOptionText($value); ?>
                    <li class="product-icons__li">
                        <span class="product-icons__icon" style="background-image: url('http://localhost:86/static/version1627064954/frontend/Lekto/CustomTheme/en_US/images/product-icons/icon-<?= $value ?>.svg')"></span>
                        <p class="product-icons__label">
                            <?= $option_value; ?>
                        </p>
                    </li>
                <?php endif;?>
            <?php endforeach;?>
        </ul>
    <?php endif; ?>
</div>